body {
  font-family: 'Anuphan';
}

.btn-shadow {
  box-shadow: 0px 1px 6px 0px #00000040;
}

button {
  border-radius: 12px;
}

.v-radio-group,
.v-checkbox {
  color: rgb(0, 0, 0);
}

.v-icon {
  color: #7450c8;
}
